# Robo config
.robo/config/*.config

notes.md

# Front
contact_book_front/node_modules
contact_book_front/public
contact_book_front/.env
contact_book_front/.htaccess

# Back
contact_book_back/vendor
contact_book_back/composer.lock
contact_book_back/phinx.php
contact_book_back/config/config.php
